:root {
    --percentage: 100%;
    --pixelate: 1080px;
    --mobile: 1.18098;
    --textSize: calc(var(--percentage) * var(--mobile));
}
body {
    margin: calc(var(--percentage) * 0);
    font-size: var(--textSize);
}
#homepage header i,
#dashboard header a {
    font-size: calc(var(--textSize) * 4);
}
#homepage main {
    margin: calc(var(--percentage) / 100);
}
#homepage main a {
    font-size: calc(var(--textSize) * 2);
}
#dashboard main {
    margin: calc(var(--percentage) / 100) cacl(var(--percentage) * 0);
}
#dashboard main form {
    width: calc(var(--percentage) * 0.9);
    margin: calc(var(--percentage) * 0) calc(var(--percentage) / 20);
    display: block;
}
#dashboard main form button {
    font-size: var(--textSize);
    margin: calc(var(--percentage) * 0)
        calc(var(--percentage) / 2 * (253.69 / 288));
}
#dashboard main form input {
    font-size: calc(var(--textSize) * 0.54);
}
#dashboard main form input[type="url"] {
    width: var(--percentage);
    margin: calc(var(--percentage) / 100) calc(var(--percentage) * 0);
}
#dashboard main form input[type="text"] {
    width: calc(var(--percentage) / 5);
    margin: calc(var(--percentage) / 100) calc(var(--percentage) * (2 / 5));
}
