:root {
    --color1: rgb(255, 0, 0);
    --color2: rgb(0, 0, 0);
    --percentage: 100%;
}
#homepage header,
#homepage main,
#downloads header {
    display: flex;
    justify-content: center;
}
#homepage header i,
#downloads header a {
    color: var(--color1);
}
#homepage main a {
    color: var(--color2);
    text-decoration: none;
}
#homepage main a:hover {
    color: var(--color1);
}
#downloads header a {
    text-decoration: none;
    opacity: calc(var(--percentage) / 2);
}
#downloads header a:hover {
    opacity: var(--percentage);
}
