@font-face {
    font-family: "Proxima Nova";
    src: url("/Public/Fonts/Proxima Nova.otf");
    src: url("/Public/Fonts/Proxima Nova - Alternate.otf");
}
@font-face {
    font-family: "Source Code Pro";
    src: url("/Public/Fonts/Source Code Pro - Black Italic.otf");
    src: url("/Public/Fonts/Source Code Pro - Black.otf");
    src: url("/Public/Fonts/Source Code Pro - Bold Italic.otf");
    src: url("/Public/Fonts/Source Code Pro - Bold.otf");
    src: url("/Public/Fonts/Source Code Pro - Extra Light Italic.otf");
    src: url("/Public/Fonts/Source Code Pro - Extra Light.otf");
    src: url("/Public/Fonts/Source Code Pro - Italic.otf");
    src: url("/Public/Fonts/Source Code Pro - Light Italic.otf");
    src: url("/Public/Fonts/Source Code Pro - Light.otf");
    src: url("/Public/Fonts/Source Code Pro - Medium Italic.otf");
    src: url("/Public/Fonts/Source Code Pro - Medium.otf");
    src: url("/Public/Fonts/Source Code Pro - Regular.otf");
    src: url("/Public/Fonts/Source Code Pro - Semi Bold Italic.otf");
    src: url("/Public/Fonts/Source Code Pro - Semi Bold.otf");
}
@font-face {
    font-family: "Chopsic";
    src: url("/Public/Fonts/Chopsic.otf");
}
:root {
    --percentage: 100%;
    --mobile: 0.729;
    --tablet: 0.531441;
    --color1: rgb(32, 32, 32);
    --color2: rgb(255, 255, 255);
    --color3: rgb(255, 0, 0);
    --color4: rgb(0, 255, 0);
    --color5: rgba(255, 255, 255, 0.5);
    --proximaNova: "Proxima Nova";
    --sourceCodePro: "Source Code Pro";
    --chopsic: "Chopsic";
}
body {
    background-color: var(--color1);
    color: var(--color2);
    font-family: sans-serif;
    margin: calc(var(--percentage) * 0);
    font-size: var(--percentage);
}
#http404 header h1 {
    text-align: center;
    font-size: calc(var(--percentage) * 2);
    margin: calc(var(--percentage) * 0);
}
#http404 header h1 {
    text-transform: uppercase;
}
#http404 header #code {
    color: var(--color3);
}
#homepage header {
    display: flex;
    justify-content: center;
}
#homepage header div {
    font-size: calc(var(--percentage) * 2);
}
#homepage header #label {
    font-family: var(--proximaNova);
}
#homepage header #logo {
    color: var(--color3);
    margin-left: calc(var(--percentage) * 0.01);
}
#homepage main {
    display: flex;
    justify-content: center;
}
#homepage main form {
    width: calc(var(--percentage) / 3);
    background-color: var(--color2);
    padding: calc(var(--percentage) * 0.01);
}
#homepage main form #name {
    color: var(--color1);
    font-family: var(--sourceCodePro);
    font-size: calc(var(--percentage) * 2);
    text-align: center;
}
#homepage main form input {
    margin: calc(var(--percentage) * 0.01) calc(var(--percentage) * 0.02);
    width: calc(var(--percentage) * 0.94);
    font-family: var(--proximaNova);
    font-size: var(--percentage);
    color: var(--color1);
}
#homepage main form #button {
    display: flex;
    justify-content: center;
    margin: calc(var(--percentage) * 0.01) calc(var(--percentage) * 0);
}
#homepage main form #button button {
    font-family: var(--proximaNova);
    font-size: calc(var(--percentage) * 1.1);
    width: calc(var(--percentage) * 0.96);
    background-color: var(--color1);
    color: var(--color2);
    font-weight: bold;
    border: none;
    padding: calc(var(--percentage) * 0.02) calc(var(--percentage) * 0);
    cursor: pointer;
}
#homepage main form #button button:hover {
    background-color: var(--color2);
    color: var(--color1);
}
#homepage main form #serverRendering h1 {
    font-size: calc(var(--percentage) * 1.21);
    font-family: var(--proximaNova);
    text-align: center;
}
#success {
    color: var(--color4);
}
#failure {
    color: var(--color3);
}
